<template>
<ion-page class="ion-page" main>  

        <ion-header>
        <ion-toolbar>            
            <ion-title>Hello World</ion-title>
        </ion-toolbar>
    </ion-header>             

        <ion-content class="ion-content" padding>
            
      <h1>Hello World</h1>
            

        </ion-content>
    </ion-page>
</template>

<script>
export default {
  name: "HelloWorld",
  data() {
    return {
      msg: "Welcome to Your Vue.js App"
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
